---
layout: default
comments: false
title: About Me
---

.content
  .container.about-me
    h1 About Me
    markdown:
      I'm a software engineer living in Seattle. Right now I'm working on my startup [Emberall](https://emberall.com) with my friend [Sam](https://www.linkedin.com/profile/view?id=121107913). We're currently developing easy-to-use mobile video recording technology for video interviews, with a focus on capturing important life moments.

      I've done a lot of work on React Native, and am a core contributor on the team. At Emberall we're using React Native to build a beautiful cross-platform video recording application, and it's working out great so far! This blog has a lot of content about the practicalities of using React Native in production.

      I can be contacted at kyle@ this domain.
