---
layout: default
comments: false
title: About Me
---

.content
  .container.about-me
    h1 About Me
    markdown:
      My mission is to use technology to do things that have never been done before. I think that automation is a *good thing* that will allow us to solve tough problems and achieve exciting goals communally. The near-magical ability of computers to solve problems that humans don't have time for has fascinated me for my entire life, and controlling that is a ton of fun.

      I'm a recently graduated CS major, with an interest in machine learning and data analysis. I also have a fair amount of experience with web development, including Rails and AngularJS. I'm all about learning and using new technology to solve tough problems.

      I can be contacted at kyle@ this domain.
